* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: white;
  --base-color: 240;
  --primary-color: hsla(var(--base-color), 6%, 21%);
  --tt-color: hsl(var(--base-color), 6%, 21%);
  --icons-butons-bg: #E1E1E6;
  --icons-butons-inner: #323238;
  --switch-mode: url('./assets/logoLightMode.svg');
  --bg-button: #E1E1E6;
  --tt-button: #323238;
  font-size: 62.5%;
}

.dark {
  --bg-color: hsla(240, 5%, 7%, 1);
  --base-color: 240;
  --primary-color: #C4C4CC;
  --tt-color: #C4C4CC;
  --icons-butons-bg: #29292E;
  --icons-butons-inner: #C4C4CC;
  --bg-button: #29292E;
  --tt-button: #C4C4CC;

  --switch-mode: url('./assets/logoDarkMode.svg');


  font-size: 62.5%;
}

#switch {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

#switch button{
  display: block;
  background: var(--switch-mode) no-repeat center;
  align-self: end;
  justify-self: end;
  padding: 6rem 10rem 0 0;
}

body {
  background-color: var(--bg-color);
  color: var(--tt-color);
  font-family: 'Roboto', sans-serif;
  display: grid;
  min-height: 100dvh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.hide {
  display: none;
}


.play svg path,
.pause svg path,
.stop svg path,
.removeTime svg path,
.addTime svg path {
  fill: var(--primary-color);
}

#controls svg {
  width: 6.4rem
}

#timer {
  font-size: clamp(4rem, 4rem + 10vw, 12rem);
  display: flex;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: clamp(10rem, 8rem + 30vw, 31.1rem);
  height: clamp(8rem, 5rem + 10vw, 1.2rem);

}


.switchSound {
  display: grid;
  gap: 3.2rem;
  margin-left: 19.2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 900px) {
  body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100dvh;
  }
  main {
    display: grid;
    justify-items: center;
  }

  #timer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
  
  }

  .switchSound {
    display: grid;
    gap: 3.2rem;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  #switch {
    display: flex;
    justify-content: flex-start;
    padding: 6rem 0 0 0;
  }
  
}